<!DOCTYPE html>
<html>
    <head>
        <title>ตรวจสอบสถานะคำร้อง</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap" rel="stylesheet">  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
    .header {
        background-color: #eea15d;
        padding: 20px;
        text-align: center;
    }
    h1 {
        font-size: 70px;
        font-style: normal;
        font-family: "Mitr";
        
    }
    h2{
        font-size: 30px;
        font-style: normal;
        font-family: "Kanit";
        
    }   
    .center_type{
        background-color:  #f1f1f1;
    }
    .sideLeft{
        background-color:  #042f5a;
        width:220px;
        height:55px;
        font-size:15px;
        display:block;
        text-align:center;
        border:none;
        border-radius:2px;
        cursor:pointer;
        color: white;
    }
    .button{
        background-color:  #042f5a;
        
    }
    .button-wrapper{
        width:230px;
        height:55px;
        font-size:16px;
        display:block;
        /*text-align:center;*/
        border:none;
        border-radius:2px;
        cursor:pointer;
        color: white;
    }
    .posOfData{
        margin-top: -20px;
        margin-left: 300px;
    }
    .pos{
        margin-top: 5px;
    }
    .button1{
        padding: 15px 45px; 
        border-radius: 7px;
    
    }
    .Sarabun {
        font-family:  Sarabun;
    }
    .disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
    .aside {
        float: left;
        margin-top: 170px;
        border: 2px solid black;
        background-color: #f0a985;
        position: absolute;
        width:250px;
        height: 550px;
        align: center;
    }
    .area{
        padding: 10px;
        border: 1px solid #4CAF50;
        border-radius: 8px;
        background-color: rgb(182, 140, 85);
    }
    .bg-color {
        background-color: rgb(241, 237, 214);
        padding-bottom:100px;

    }
    .bg-color-content{
        background-color: #94705e;
       
    }
    table, tr,th {
        border: 2px solid black;
        padding: 5px;
    }
    .table {
        border-spacing: 10px;
    }
    footer{
        text-align: center;
        height: 50px;
        font-size: 20px;
        background-color: rgb(48, 46, 46);
        color: white; 
        
    }
    .right_box_area{
        
        border: 1px solid #f5fdf5;
        border-radius: 4px;
        background-color: rgb(245, 250, 242);
    }
    .box_right{
        width:220px;
        height:55px;
        border: 1px solid #4CAF50;
        border-radius: 5px;
        background-color: rgb(119, 177, 81);
        font-size: 15px;
        color: white;
        text-align: center;
    }

    </style>
    </head>
    <body>
        <div class="container-fluid header-height" >
            <h1 class= "header">ระบบการจดทะเบียนล่าช้า</h1>
<!--ส่วนซ้าย-->    
            <div class="container-fluid bg-color">
                <div class="row">
                  <div class="col-2 bg-color-content">
                        <div>
                        <form action = "/main/">
                        <button class="btn btn-primary button button1 button-wrapper pos" class="Sarabun" style="color:white">หน้าแรก</button><br>
                        </form>
                        <form action = "/fill-up/">
                        <button class="btn btn-primary button button1 button-wrapper " class="Sarabun" style="color:white ">กรอกคำร้องจดทะเบียนล่าช้า</button><br>
                        </form>
                        <form action = "/status/">
                        <button class="btn btn-primary button button1 button-wrapper " class="Sarabun" style="color:white ">ตรวจสอบสถานะคำร้อง</button><br>
                        </form>
                        <form action = "/results">
                        <button class="btn btn-primary button button1 button-wrapper " class="Sarabun" style="color:white ">แสดงผลยื่นคำร้อง</button><br>
                    </form>
                        <button class="btn btn-primary button button1 button-wrapper disabled " class="Sarabun " style="color:white ">ชำระค่าลงทะเบียน</button><br>
                        <form action = "/logout/">
                        <button class="btn btn-primary button button1 button-wrapper" class="Sarabun" style="color:white ">ออกจากระบบ</button>
                        </form>
                    </div>  
                 </div>
<!--ส่วนตรงกลาง-->
<div class="col-8 " style="background-color: rgb(253, 252, 246); ">
    <h2>ตรวจสอบสถานะคำร้อง</h2>
    <br>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
      </div>
      
        <p style="font-size:20px"><i class= "fas fa-cloud " style="font-size:48px;color:rgb(53, 38, 38);"></i>    &nbsp;อาจารย์ประจำวิชา อาจารย์ที่ปรึกษา คณบดีและเจ้าหน้าที่ รับเอกสาร</p>
        <p  style="font-size:20px"><i class="fas fa-cloud " style="font-size:48px;color:rgb(53, 38, 38);"></i>  &nbsp;อาจารย์ประจำวิชา อาจารย์ที่ปรึกษา คณบดีและเจ้าหน้าที่ ดำเนินการเอกสาร</p>
        <p  style="font-size:20px"><i class="fas fa-cloud" style="font-size:48px;color:rgb(53, 38, 38);"></i> &nbsp;รวมเอกสารเอกสาร</p>
        <p  style="font-size:20px"><i class="fas fa-cloud" style="font-size:48px;color:rgb(53, 38, 38);"></i> &nbsp;นำส่งเอกสารให้เจ้าหน้ที่ด้วยตนเองเรียบร้อย</p>
        <p  style="font-size:20px"><i class="fas fa-cloud" style="font-size:48px;color:rgb(53, 38, 38);"></i> &nbsp;เจ้าหน้าที่รับเอกสาร</p>
        <p  style="font-size:20px"><i class="fas fa-cloud" style="font-size:48px;color:rgb(53, 38, 38);"></i> &nbsp;ชำระค่าใช้จ่าย</p>
        <p  style="font-size:20px"><i class="fas fa-cloud" style="font-size:48px;color:rgb(53, 38, 38);"></i> &nbsp;เสร็จสิ้นการดำเนินงาน</p>
         
    <hr>       
    <!--comment ด่านล่าง-->
    <div >
            <form>
                <div class="form-group" style="font-size:16px">
                  <label for="comment">Comment:</label>
                  <textarea class="form-control" rows="5" style="font-size:16px；" id="comment" name="text"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" style="font-size:14px">Submit</button>
            </form>
    </div> 
    <br>
    <br>   
 </div>
                          
<!--ส่วนขวา-->
                  <div class="col-2 bg-color-content"> 
                      <div class="right_box_area">
               
                        <div class="alert alert-success" style="font-size: 14px;"><strong>Success!</strong> เอกสารถึงอาจารย์ที่ปรึกษาเรียบร้อย
                            </div>
                        <div class="alert alert-success" style="font-size: 14px;"><strong>Success!</strong> เอกสารถึงอาจารย์รายวิชาที่1เรียบร้อย
                            </div>    
                        <div class="alert alert-success" style="font-size: 14px;"><strong>Success!</strong> เอกสารถึงอาจารย์รายวิชาที่2เรียบร้อย
                            </div>
                        <div class="alert alert-success" style="font-size: 14px;"><strong>Success!</strong> อาจารย์รายวิชาที่1lดำเนินเอกสารเรียบร้อย
                            </div>  
                        <div class="alert alert-success" style="font-size: 14px;"><strong>Success!</strong> เอกสารถึงอาจารย์รายวิชาที่3เรียบร้อย
                            </div>
                        <div class="alert alert-success" style="font-size: 14px;"><strong>Success!</strong> เอกสารถึงอาจารย์รายวิชาที4เรียบร้อย
                            </div>
                        <div class="alert alert-success" style="font-size: 14px;"><strong>Success!</strong> เอกสารถึงอาจารย์รายวิชาที5เรียบร้อย
                            </div>
                        <div class="alert alert-success" style="font-size: 14px;"><strong>Success!</strong> เอกสารถึงอาจารย์รายวิชาที6เรียบร้อย
                            </div>
                        <div class="alert alert-success" style="font-size: 14px;"><strong>Success!</strong> เอกสารถึงคณบดีเรียบร้อย
                            </div>         
                    </div>    
                  </div>
                </div>
              </div>
            
              <!-- footer -->
      <footer>
        <div >
            <p >TEL: 081-xxx-xxxx</p>
        </div>
    </footer>       
            </div>
    </body>
</html>